<a href="https://colab.research.google.com/github/soujanno3dot0/Data-Processing/blob/master/Clean_NAs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np


**Extract Data from Source**

In [0]:
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')
print(marks.isnull().sum())  #Type your answer here)

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

**Create a copy**

In [0]:
dfObj = marks.copy()

In [0]:
dfObj.describe()

          Prefix  Assignment    Tutorial     Midterm    TakeHome       Final
count  99.000000   97.000000   87.000000   83.000000   90.000000   94.000000
mean    7.313131   85.382371   90.790460   67.620723   80.990667   68.309681
std     0.932918   12.669667   13.806141   19.345963   24.142027   18.985373
min     4.000000   28.140000   34.090000   28.750000   16.910000   28.060000
25%     7.000000   80.530000   86.660000   52.810000   71.850000   52.707500
50%     8.000000   89.940000   93.680000   68.750000   88.890000   65.835000
75%     8.000000   95.000000  100.580000   81.250000   98.747500   84.722500
max     8.000000  100.830000  112.580000  110.000000  108.890000  108.890000

In [0]:
dfObj.isnull().sum()

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [0]:
dfObj.isnull().sum().sum()

44

In [0]:
var = 0
for i in range(len(dfObj.index)) :
    temp = dfObj.copy()
    if(  dfObj.iloc[i].isnull().sum() == 5 )  : 
        print("Nan in row ", i+1 , " : " ,  dfObj.iloc[i].isnull().sum())
        print("dropping row at index ", i+1, "...")
        #temp.drop(temp.index[i-1], inplace = True)

Nan in row  74  :  5
dropping row at index  74 ...
Nan in row  91  :  5
dropping row at index  91 ...

In [0]:
idx = []
for i in range(len(dfObj.index)) :
    if(  dfObj.iloc[i].isnull().sum() == 5 )  : 
        print("Nan in row No ", i+1 , " : Index No " ,  dfObj.index[i])
        idx.append(i)

Nan in row No  74  : Index No  73
Nan in row No  91  : Index No  90

In [0]:
print(idx)
#print(len(dfObj.index))

[73, 90]

In [0]:
#dfObj = dfObj.drop(73)
for x in idx:
    print(x)
    dfObj = dfObj.drop(x)

73
90

In [0]:
dfObj.isnull().sum()

Prefix         0
Assignment     0
Tutorial      10
Midterm       14
TakeHome       7
Final          3
dtype: int64